#media{
	width: 100%;
	.year{
		float: left;
		width: 100%;
		padding-right: 1rem;
		&:last-child{
			padding-right: 0;
		}
		@media(min-width: $medium){
			width: 50%;
		}
		@media(min-width: $large){
			width: 25%;
		}
	}
	.disabled{
		border-left: none;
	}
	.day, .disabled{
		float: left;
		width: calc(100% / 7);
		padding-top: 14%;
		border-bottom: solid thin black;	
	}
	.day{
		border-left: solid thin black;
		&.book, &.game, &.movie{
			cursor: pointer;
			@include tran();
		}
		&.book{
			background: $book;
		}
		&.game{
			background: $game;
		}
		&.movie{
			background: $movie;
		}
		&.book.game, &.book.movie, &.game.movie{
			background: $mix;
		}
		&:nth-child(7n+1){
			border-left: 0;
		}
	}
}

#year_2013{
	.day:nth-last-child(-n+2){
		border-bottom: none;
	}
}

#year_2014{
	.day:nth-last-child(-n+3){
		border-bottom: none;
	}
}

#year_2015{
	.day:nth-last-child(-n+4){
		border-bottom: none;
	}
}

#year_2016{
	.day:nth-last-child(-n+6){
		border-bottom: none;
	}
}