#media{
	display: flex; 
	.day{
		height: 1.5rem;
		width: 1.5rem;
		border: solid thin $black;
		&.book, &.game, &.movie{
			cursor: pointer;
			@include tran();
		}
		&.book{
			background: $book;
		}
		&.game{
			background: $game;
		}
		&.movie{
			background: $movie;
		}
		&.book.game, &.book.movie, &.game.movie{
			background: $mix;
		}
		&.fade:not(.active){
			&.book{
				background: rgba($book, 0.5);
			}
			&.game{
				background: rgba($game, 0.5);
			}
			&.movie{
				background: rgba($movie, 0.5);
			}
			&.book.game, &.book.movie, &.game.movie{
				background: rgba($mix, 0.5);
			}
		}
	}
}