#nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	z-index: 10;
	background: $white;

	text-align: center;
	transform: translateY(-80%); 
	@include tran();
	&.open{
		transform: translateY(0%); 
	}
	.label{
		float: left;
		width: 100%;
		padding: 0.5rem 2rem;

		text-align: center;
		@media(max-width: $medium){
			&:nth-of-type(n+2){
				display: none;
			}
		}
		@media(min-width: $medium) and (max-width: $large){
			width: 50%;
			&:nth-of-type(n+3){
				display: none;
			}
		}
		@media(min-width: $large){
			width: 25%;
		}
		li{
			float: left;
			width: calc(100% /7);
			padding-top: 0.5rem;

			color: rgba($black, 0.25);

			cursor: pointer;
			@include tran();
			&:hover{
				color: $black;
			}
		}
	}
}