$red: #EB0029;
$yellow: #F6EB0D;
$blue: #426FB6;

$neutral: #232222;
$white: #979090;
$grey: #615E5E;
$black: #090707;

$book: $yellow;
$game: $red;
$movie: $blue;

@mixin transition($speed: 0.5s) {
	-webkit-transition: all $speed cubic-bezier(0, 0, 0.5, 1);
	-moz-transition: all $speed cubic-bezier(0, 0, 0.5, 1);
	-ms-transition: all $speed cubic-bezier(0, 0, 0.5, 1); 
	-o-transition: all $speed cubic-bezier(0, 0, 0.5, 1);
	transition: all $speed cubic-bezier(0, 0, 0.5, 1);
}