$white: #ecf0f1;
$black: #34495e;

$red: #c0392b;
$green: #2ecc71;
$blue: #3498db;

$book: $green;
$game: $red;
$movie: $blue;
$mix: #f1c40f;

@mixin tran(){
	-webkit-transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
	-moz-transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
	-ms-transition: all 0.5s cubic-bezier(0, 0, 0.5, 1); 
	-o-transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
	transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}